.map {
  width: 90vw;
  height: 90vh;
  border: solid 5px black;
  margin: 10px auto;
}

.map-form {
  position: absolute;
  z-index: 1;
  top: 12vh;
  left: 8vw;
  background: gray;
  padding: 10px;
  border: solid 5px black;
  border-radius: 10px;
}

.map-form-info {
  position: absolute;
  z-index: 1;
  bottom: 8vh;
  right: 8vw;
  background: gray;
  padding: 10px;
  border: solid 5px black;
  border-radius: 10px;
  font-weight: bold;
}

.current-marker {
  font-size: 30px;
}
